:root {
  --class-color: #4cc5a1;
  --const-color: #4fc1ff;
  --attribute-css-color: #9cdcfe;
  --symbols-color: #aeafad;
  --bgVsCodeColor: #1e1e1e;
}

.class-color {
  color: var(--class-color);
}

.attribute-css-color {
  color: var(--attribute-css-color);
}

.const-color {
  color: var(--const-color);
}

.symbols-color {
  color: var(--symbols-color);
}

body {
  background-color: var(--bgVsCodeColor);
}
